html {
  background: linear-gradient(-70deg, #ddefdd, #dddddf, #efdddd);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#tbContain {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 100;
}

#tbMain {
  background: #f5f5f5;
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 16px 0 8px 0;

  box-shadow: 0 0 6px #b0b0b0;
  transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  pointer-events: all;
}

#tbMain.tbClose {
  transform: translateY(-100%);
  background: #b0b0b0;
}

#tbGrid {
  width: fit-content;
}

.tbBtns {
  user-select: none;
  cursor: pointer;
  width: fit-content;
  margin: 0 5px;
  padding: 8px 24px;
  text-align: center;
  display: inline-block;
  transition: 0.5s cubic-bezier(0, 0.7, 0.3, 1);
}

.tbBtns:hover {
  text-shadow: 0 5px 2px #a0a0a0;
  transform: scale(1.05, 1.05);
}

#tbArrowContain {
  background: #f5f5f5;
  position: absolute;
  width: 58.4px;
  height: 29.2px;
  right: 0;
  bottom: -28px;
  border-radius: 0 0 0 10px;
  transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
}

#tbMain.tbClose #tbArrowContain {
  background: #b0b0b0;
}

/* Arrow provided by https://codepen.io/mattbraun/pen/EywBJR */
#tbArrowMain {
  position: absolute;
  top: -20px;
}

.tbArrowIcon {
  height: 2.8em;
  width: 2.8em;
  display: block;
  padding: 0.5em;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  transform: scale(0.5, 0.5);
  transition: 0.5s cubic-bezier(0, 0.7, 0.3, 1);
}
.tbArrowIcon:hover {
  filter: drop-shadow(0 5px 2px #a0a0a0);
  transform: scale(0.55, 0.55);
}
#tbMain.tbClose .tbArrowIcon:hover {
  filter: drop-shadow(0 5px 2px #5f5f5f);
  transform: scale(0.55, 0.55);
}
.tbLeftBar {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
}
.tbLeftBar:after {
  content: "";
  background-color: #b0b0b0;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 6px 10px 10px 6px;
  transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  z-index: -1;
}
.tbRightBar {
  position: absolute;
  background-color: transparent;
  top: 0px;
  left: 26px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
}
.tbRightBar:after {
  content: "";
  background-color: #b0b0b0;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  transition: all 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  z-index: -1;
}
.tbClose .tbLeftBar:after {
  transform-origin: center center;
  transform: rotate(-70deg);
  background-color: #f5f5f5;
}
.tbClose .tbRightBar:after {
  transform-origin: center center;
  transform: rotate(70deg);
  background-color: #f5f5f5;
}
/* End of arrow code */
