h1 {
  margin-bottom: 0;
  font-size: 2.4rem;
}

h2 {
  margin-top: 0;
  color: #444444;
  font-weight: 500;
  font-size: 1.7rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.7;
}

#mainContain {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
}

#container {
  width: 100vw;
  padding: 0 15vw;
  margin-top: 4rem;
  overflow-x: auto;
  overflow-wrap: normal;
}

.link {
  position: relative;
  z-index: 50;

  margin: -3px 0px -12px 0px;
  padding: 0px 15px 2px 15px;
  display: inline-block;

  box-sizing: border-box;
  border: #99aabb 3px solid;
  border-radius: 5px;

  transition: color 750ms ease-in-out, border-color 250ms ease-in-out;

  overflow: hidden;

  color: initial;
}

.link span {
  position: relative;
  z-index: 5;
}

.link::before {
  content: "";
  position: absolute;
  top: -50px;
  bottom: -50px;
  left: -50px;
  right: -50px;

  z-index: 0;

  opacity: 0;

  transform: rotate(45deg);

  background: linear-gradient(
    90deg,
    #d66b9b 0%,
    #9a6bd4 33%,
    #d19b68 66%,
    #d66b9b 100%
  );
  background-size: 200%;

  animation: moveBG 6s linear infinite;

  transition: opacity 1s ease-in-out;
}

.link:hover::before {
  opacity: 1;
}

.link:hover {
  border-color: #ffffff;
  color: #eeeeee;
  cursor: pointer;
}

@keyframes moveBG {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 200% 200%;
  }
}
