h1 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
}

button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin: 5px 3px;
  padding: 0.45rem 3rem;
  border: none;
  background: #176dbd;
  color: #ddefdd;
  border: #176dbd 1px solid;
}

label {
  padding: 0.4rem 0.4rem 0.4rem 0rem;
}

input[type="number"] {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  background: none;
  padding: 0.4rem 0.4rem 0.4rem 0rem;
  border: none;
  border-bottom: 1px solid black;
}

input[type="number"]:focus {
  background: #64646415;
  outline: none;
  border-bottom: 1px solid #176dbd;
}

input[type="number"]:hover {
  background: #64646415;
  outline: none;
  border-bottom: 1px solid black;
}

input[type="number"]:disabled {
  background: #b7bbbd;
}

button:hover {
  cursor: pointer;
  background-color: #115ea5;
}

button:active {
  border-color: #b7bbbd;
}

button:disabled {
  background: #b7bbbd;
  border-color: #b7bbbd;
  color: black;
}

.container {
  margin: 20px;
  position: relative;
  background-color: #f5f5f5;
  padding: 40px 40px;
  box-shadow: 0px 3px 8px #80808080;
  text-align: left;
  pointer-events: all;
  z-index: 0;
}

#buttons {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

#mainContainer {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 0;
}

#sortingSpace {
  width: 65vw;
  height: 300px;
  overflow: hidden;
}

#sortingSpace:before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
}
